<!-- fragments/experience.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="experience-section">
    <section class="section experience" id="experience">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Experience</h2>
                <p class="section-subtitle">
                    My professional journey and educational background
                </p>
            </div>
            <div class="timeline">

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">Nov 2022 - Jan 2024</div>
                        <h3 class="timeline-title">Software Engineer</h3>
                        <h4 class="timeline-subtitle">Fintech Blue Solutions Private Limited</h4>
                        <p class="timeline-description">
                            Developed and maintained portfolio management features for a mutual fund web application,
                            optimized user-friendly web pages with HTML, CSS, JavaScript, and React, collaborated with
                            teams to enhance performance, and ensured data security through best practices in
                            web security and encryption.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">Feb 2022 - Nov 2022</div>
                        <h3 class="timeline-title">Software Engineer Intern</h3>
                        <h4 class="timeline-subtitle">BridgeLabz Solutions LLP</h4>
                        <p class="timeline-description">
                            Single-handedly developed Employee-Payroll Full Stack App using Spring Boot and React Js and  developed Book-Store Full Stack App using Spring boot and React Js with Responsive Design,
                            Navigation Panel, Search Bar, ability to Login, Register and Dashboard, Cart, toolbars and menus to provide
                            the user-friendly access
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-clapperboard"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">Feb 2018 - Feb 2022</div>
                        <h3 class="timeline-title">Jr.Electrical Engineer</h3>
                        <h4 class="timeline-subtitle">Military Engineer Services (DGNP)</h4>
                        <p class="timeline-description">
                            Electrical Engineer with 4 years of working experience with companies
                            in the electrical industry. Well acquainted with PLC And SCADA, Autocad, etc.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</th:block>
</html>










