<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vishangi Dabir - Personal Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Loading Animation -->
    <div th:replace="~{fragments/loader :: loader}"></div>

    <!-- Background Shapes -->
    <div class="floating-shape shape-1"></div>
    <div class="floating-shape shape-2"></div>
    <div class="floating-shape shape-3"></div>

    <!-- Header -->
    <div th:replace="~{fragments/header :: site-header}"></div>

    <!-- Hero Section -->
    <div th:replace="~{fragments/hero :: hero-section}"></div>

    <!-- About Section -->
    <div th:replace="~{fragments/about :: about-section}"></div>

    <!-- Projects Section -->
    <div th:replace="~{fragments/projects :: projects-section}"></div>

    <!-- Experience Section -->
    <div th:replace="~{fragments/experience :: experience-section}"></div>

    <!-- Contact Section -->
    <div th:replace="~{fragments/contact :: contact-section}"></div>

    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer-section}"></div>
    <script src="/js/script.js"></script>
</body>
</html>